.profile__info {
  max-width: 336px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media screen and (max-width: 650px){
  .profile__info {
    margin: 0;
    justify-content: center;
  }
}

