.popup__button {
  width: 100%;
  max-width: 358px;
  height: 50px;
  margin: 0;
  padding: 0;
  background: #000000;
  color: #fff;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  border: none;
}

.popup__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 580px){
  .popup__button {
    max-width: 238px;
    height: 46px;
    font-size: 14px;
  }
}