.header {
  width: 100%;
  margin: 45px auto 0;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
}

@media screen and (max-width: 879px){
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 650px){
  .header {
    margin: 28px auto 0;
    max-width: 282px;
  }
}