.profile__subtitle {
  margin: 16px 0 0;
  padding: 0;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
}

@media screen and (max-width: 879px){
  .profile__subtitle {
    font-size: 16px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 650px){
  .profile__subtitle {
    width: 282px;
    margin: 14px 0 36px;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}