.profile__profile-info {
  max-width: 336px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media screen and (max-width: 650px){
  .profile__profile-info {
    flex-direction: column;
    margin: 0;
    align-items: center;
  }
}

