.elements__like {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  border: none;
  background: #fff;
  background-image: url(../../../images/elements-like.svg);
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}